@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');


/*FORMAT DESKTOP*/

body {
  background: #0D1117 ;
  margin: 0;
  transition: 0.2s linear;
  font-family: 'Dosis', sasn-serif;
  color: #333;
  width: 100%;
  height:100vh;
}

.toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.checkbox {
  display: none;
}
.label {
  height: 17px;
  width: 40px;
  padding: 5px 8px;
  border-radius: 50px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  box-shadow: 2px 1px 1px rgba(70, 70, 109, 0);
  background: rgba(136, 136, 136, 0);
  border: 2px solid #333 ;
}
.label .ball {
  background: rgb(107, 107, 205);
  border-radius: 50%;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 5px;
  left: 3px;
  transform: translateX(29px);
}
.checkbox:checked + .label .ball {
  transform: translateX(3px);
  transition: transform 0.4s cubic-bezier(.45, -1.12, .7, 1.78);
}
.fa-moon {
  color: whitesmoke;
  width: 17px;
  height: 17px;
}


 /* LIGHT MODE */
 .light {
   background:white ;
 }
 
 .light .label {
   box-shadow: 2px 1px 1px rgba(51, 51, 51, 0);
   background: rgba(182, 182, 182, 0);
   border: 2px solid #0D1117 ;
 }
 .light .ball {
  background: #0D1117;
 }


 /*Pour le translater en creole haitien */
 .language { /*la class qui contient le bi-translate */
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.bi-translate {
  height: 20px;
  width: 20px;
  color:white;
  padding: 5px 8px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  font-size: 30px;
}

.light .bi-translate{ /*Pour changer de mode*/
  color:#0D1117;
} 


/*Pour afficher le nombre total de personnes tuees en 2022 */
.counter{
  padding: 80px 0;
  width:100%;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
}
.num{
  font-size: 70px;
  margin:20px 0;
}
.box{
  flex:1;
  text-align: center;
  padding: 20px;
  color:#fff;
  text-transform: uppercase;
  border:2px solid #333;
  width: 300px;
  margin-left: 50%;
  
}

.box .bi-people{
  font-size: 120px;
  color:#333;
}


.light .box{
  border: 2px solid #0D1117;
}

.light .num{
  color:#0D1117;
}
.light .alpha{ 
  color: #0D1117;
}

