@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

/*FORMAT DESKTOP*/

body {
  background: white;
  margin: 0;
  transition: 0.2s linear;
  font-family: "Dosis", sans-serif;
  color: #333;
  width: 100%;
  height: 100vh;
}

.toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.checkbox {
  display: none;
}
.label {
  height: 17px;
  width: 40px;
  padding: 5px 8px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  box-shadow: 2px 1px 1px rgba(70, 70, 109, 0);
  background: rgba(136, 136, 136, 0);
  border: 2px solid #333;
}
.label .ball {
  background: #1abc9c;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: translateX(29px);
}
.checkbox:checked + .label .ball {
  transform: translateX(3px);
  transition: transform 0.4s cubic-bezier(0.45, -1.12, 0.7, 1.78);
}
.fa-moon {
  color: beige;
  width: 17px;
  height: 17px;
}

/* LIGHT MODE */
.light {
  background: #1abc9c;
}

.light .label {
  background: rgba(182, 182, 182, 0);
  border: 2px solid whitesmoke;
}
.light .ball {
  background: whitesmoke;
}

/*Pour le translater en creole haitien */
.statistiques {
  /*la class qui contient le bi-translate */
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: rgb(249, 152, 67);
}
 .stat{
  color: rgb(249, 152, 67);
  font-weight: bold;
 }
 .statOne{
  color: rgb(249, 152, 67);
  font-weight: bold;
 }

.bi-translate {
  height: 20px;
  width: 20px;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  font-size: 30px;
}

.light .bi-translate {
  /*Pour changer de mode*/
  color: #0d1117;
}

.grand {
  font-size: 30px;
  color: #1abc9c;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
}

/*POUR L'IMAGE CONNECTION EN ARRIERE PLAN */
.connection {
  display: none;
}
.connectionDesktop {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -100;
  top: 30px;
}

/*Pour afficher le nombre total de personnes tuees en 2022 */
.counter {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header header header header"
    "main main mainZero mainZero"
    "mainOne mainOne mainOne mainOne"
    "mainTwo mainTwo mainTwo mainTwo"
    "mainThree mainThree mainThree mainThree"
    "info info info info"
    "graphique graphique graphique graphique";
  justify-items: center;
}
.header {
  grid-area: header;
  margin-top: 100px;
  padding: 10px;
  width: 50%;
  text-align: center;
}
.info {
  grid-area: info;
  padding: 10px;
  width: 50%;
}
.main {
  grid-area: main;
  text-align: center;
  width: 500px;
  margin-left: 10px;
  background: #1abc9c22;
  padding: 20px;
}
.details-contry {
  text-decoration: none;
}
.details-student {
  text-decoration: none;
}
.mainOne {
  grid-area: mainOne;
  text-align: center;
  width: 500px;
  margin-left: 10px;
  background: #1abc9c22;
  padding: 20px;
}

.mainZero{
  grid-area: mainZero;
  text-align: center;
  width: 500px;
  margin-left: 10px;
  background: #1abc9c22;
  padding: 20px;
}
.mainTwo{
  grid-area: mainZero;
  text-align: center;
  width: 500px;
  margin-left: 10px;
  background: #1abc9c22;
  padding: 20px;
}
.mainThree{
  grid-area: mainZero;
  text-align: center;
  width: 500px;
  margin-left: 10px;
  background: #1abc9c22;
  padding: 20px;
}

.num {
  font-size: 70px;
  margin: 20px 0;
}
.box {
  flex: 1;
  color: #fff;
  text-transform: uppercase;
}

.box .bi-people {
  font-size: 120px;
  color: #333;
}

.light .box {
  border: 2px solid rgba(249, 152, 67, 0);
}
.light .header {
  border: none;
  color: #0d1117;
}
.light .grand {
  color: whitesmoke;
}
.light .info {
  border: none;
  color: #1abc9c;
}

.light .num {
  color: #0d1117;
}
.alpha {
  color: #0d1117;
}
.light .alpha {
  color: whitesmoke;
}
.anonce-fille {
  width: 80px;
  float: left;
  filter: brightness(110%);
}

#objectif {
  font-size: 25px;
  color: #1abc9c;
  font-family: "Mona Sans", "Mona Sans Fallback", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  text-align: center;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.light #objectif {
  border: none;
  color: whitesmoke;
}

/*POUR LES GRAPHIQUES*/

.graphique {
  grid-area: graphique;
  text-align: center;
  border: 2px solid #333;
  width: 80%;
  height: 500px;
  background: linear-gradient(
    rgba(87, 87, 206, 0.474),
    rgba(14, 14, 42, 0.381),
    rgba(8, 8, 36, 0.496)
  );
  padding: 20px;
}

.right {
  display: flex;
  justify-content: end;
  margin-right: 5px;
  cursor: pointer;
  padding: 20px;
}

.g1 {
  padding: 5px;
  border: 2px solid rgb(249, 152, 67);
  border-radius: 20px;
  background: rgb(249, 152, 67);
  width: 90px;
  margin-right: 10px;
  font-size: 13px;
}
.g1:hover {
  border: #333 solid 2px;
  background: #0d1117;
  width: 85px;
  font-size: 10px;
}
.g1:active {
  border: #333 solid 2px;
  background: #0d1117;
  width: 85px;
  font-size: 10px;
}

#graph0 {
  display: flex;
}

.chart {
  width: 50%;
  height: 600px;
  padding: 80px 30px 30px 30px;
}

/*Format Mobile */
@media only screen and (max-width: 767px) {
  .connection {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -100;
    top: 30px;
  }
  .connectionDesktop {
    display: none;
  }

  .counter {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "mainZero mainZero mainZero mainZero"
      "mainOne mainOne mainOne mainOne"
      "mainTwo mainTwo mainTwo mainTwo"
      "mainThree mainThree mainThree mainThree"
      "info info info info"
      "graphique graphique graphique graphique";
    justify-items: center;
  }
  .header {
    grid-area: header;
    margin-top: 30px;
    padding: 10px;
    width: 50%;
    text-align: center;
  }
  .info {
    grid-area: info;
    padding: 10px;
    width: 50%;
  }
  .main {
    grid-area: main;
    text-align: center;
    width: 80%;
    background: #1abc9c;
  }
  .light .main {
    background: #0d111750;
  }
  .mainOne {
    grid-area: mainOne;
    text-align: center;
    width: 80%;
    background: #1abc9c;
  }
  .mainZero {
    grid-area: mainZero;
    text-align: center;
    width: 80%;
    background: #1abc9c;
  }
  .mainTwo {
    grid-area: mainTwo;
    text-align: center;
    width: 80%;
    background: #1abc9c;
  }
  .mainThree {
    grid-area: mainThree;
    text-align: center;
    width: 80%;
    background: #1abc9c;
  }
  .light .mainOne {
    background: #0d111750;
  }
  .light .mainZero {
    background: #0d111750;
  }
  .light .mainTwo {
    background: #0d111750;
  }
  .light .mainThree {
    background: #0d111750;
  }
  .num {
    font-size: 40px;
    margin: 10px 0;
  }
  .box {
    flex: 1;
    color: #fff;
    text-transform: uppercase;
  }

  .box .bi-people {
    font-size: 90px;
    color: whitesmoke;
  }

  .grand {
    font-size: 10px;
    margin-top: 25%;
    color: #1abc9c;
  }

  #objectif {
    color: #1abc9c;
  }

  /*POUR LES GRAPHIQUES*/

  .graphique {
    grid-area: graphique;
    text-align: center;
    border: none;
    width: 80%;
    height: 600px;
    background: none;
    padding: 20px;
  }
  .right {
    display: grid;
    justify-content: left;
    grid-template: 45px 45px 45px/45px 45px 45px;
    row-gap: 5px;
    column-gap: 60px;
    cursor: pointer;
    padding: 5px;
  }

  .g1 {
    padding: 10px;
    border-radius: 3px;
    background: #1abc9c;
    border: none;
    width: 65px;
    font-size: 8px;
    height: 10px;
  }

  .light .g1 {
    background: rgb(249, 152, 67);
  }
  .g1:hover {
    border: none;
    background: rgb(249, 152, 67);
    width: 62px;
    font-size: 5px;
  }
  .g1:active {
    border: none;
    background: rgb(249, 152, 67);
    width: 62px;
    font-size: 5px;
  }
  .light .g1:hover {
    background: rgb(92, 85, 85);
  }

  #graph0 {
    display: grid;
  }
  #graph1 {
    display: grid;
  }
  /* #graph2{
  display: grid;
 } */

  .chart {
    width: auto;
    height: 200px;
    padding: 5px 7px 0 0;
    justify-items: center;
  }
}
