@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');


/*FORMAT DESKTOP*/

body {
  background: linear-gradient(to left, rgb(19, 19, 123),rgb(5, 5, 45),#0D1117) ;
  margin: 0;
  transition: 0.2s linear;
  font-family: 'Dosis', sasn-serif;
  color: #333;
  width: 100%;
  height:100vh;
}

.toggle {
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.checkbox {
  display: none;
}
.label {
  height: 17px;
  width: 40px;
  padding: 5px 8px;
  border-radius: 50px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  box-shadow: 2px 1px 1px rgba(70, 70, 109, 0);
  background: rgba(136, 136, 136, 0);
  border: 2px solid #333 ;
}
.label .ball {
  background: rgb(107, 107, 205);
  border-radius: 50%;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 5px;
  left: 3px;
  transform: translateX(29px);
}
.checkbox:checked + .label .ball {
  transform: translateX(3px);
  transition: transform 0.4s cubic-bezier(.45, -1.12, .7, 1.78);
}
.fa-moon {
  color: whitesmoke;
  width: 17px;
  height: 17px;
}


 /* LIGHT MODE */
 .light {
   background:linear-gradient(to left,white,whitesmoke, rgba(249, 152, 67, 0.566), rgb(249, 152,67) );
 }
 
 .light .label {
   box-shadow: 2px 1px 1px rgba(51, 51, 51, 0);
   background: rgba(182, 182, 182, 0);
   border: 2px solid #0D1117 ;
 }
 .light .ball {
  background: rgb(249, 152, 67);
 }


 /*Pour le translater en creole haitien */
 .language { /*la class qui contient le bi-translate */
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.bi-translate {
  height: 20px;
  width: 20px;
  color:white;
  padding: 5px 8px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: scale(1.2);
  font-size: 30px;
}

.light .bi-translate{ /*Pour changer de mode*/
  color:#0D1117;
} 


.grand{
  font-size: 30px;
  Color:white;
  font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,
  "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: bold;
 
}

/*Pour afficher le nombre total de personnes tuees en 2022 */
.counter{
  display: grid;
  gap: 20px;
  grid-template-areas: 
    "header header header header"
    "main main mainOne mainOne"
    "info info info info"
    "graphique graphique graphique graphique";
  justify-items: center;
}
.header{
  grid-area: header;
  margin-top: 100px;
  padding: 10px;
  width:50%;
  text-align: center;
}
.info{
  grid-area: info;
  padding: 10px;
  width: 50%;
}
.main{
 grid-area:main ;
 text-align: center; 
 border:2px solid #333; 
 width: 500px;  
 margin-left: 10px;  
 background: linear-gradient(rgba(87, 87, 206, 0.474), rgba(14, 14, 42, 0.381), rgba(8, 8, 36, 0.496)); 
 padding: 20px;

}
.mainOne{
  grid-area:mainOne ;
  text-align: center; 
  border:2px solid #333; 
  width: 500px;  
  background: linear-gradient(rgba(87, 87, 206, 0.474), rgba(14, 14, 42, 0.381), rgba(8, 8, 36, 0.496)); 
  padding: 20px;
  
   
 }

.num{
  font-size: 70px;
  margin:20px 0;
}
.box{
  flex:1;
  color:#fff;
  text-transform: uppercase;
}

.box .bi-people{
  font-size: 120px;
  color:#333;
}


.light .box{
  border: 2px solid rgba(249, 152, 67, 0);
}
.light .header{
  border:none;
  color: #0D1117;
}
.light .grand{
  color: rgb(249,152,67);
}
.light .info{
  border:none;
  color: #0D1117;
}



.light .num{
  color:#0D1117;
}
.alpha{
  color:bisque;
}
.light .alpha{ 
  color: rgb(255, 180, 99);
}
.anonce-fille{
  width:80px ;
  float:left;
  filter: brightness(110%);
}

#objectif{
  font-size: 25px;
  Color:whitesmoke;
  font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,
  "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: bold;
  text-align: center;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.light #objectif{
  border: none;
  color: grey;
}


/*POUR LES GRAPHIQUES*/

.graphique{
 grid-area:graphique ;
 text-align: center; 
 border:2px solid #333; 
 width: 80%;  
 height: 500px;
 background: linear-gradient(rgba(87, 87, 206, 0.474), rgba(14, 14, 42, 0.381), rgba(8, 8, 36, 0.496)); 
 padding: 20px;
}
.right{
  display: flex;
  justify-content:end;
  margin-right: 5px;
  cursor: pointer;
  padding: 20px;
}
.g0{
  padding: 5px;
  border: 2px solid #333;
  border-radius: 20px;
  background: #0d111768;
  width: 120px;
  margin-right: 10px;
}
.g1{
  padding: 5px;
  border: 2px solid rgb(249,152,67);
  border-radius: 20px;
  background: rgb(249, 152, 67);
  width: 90px;
  margin-right: 10px;
}
.g2{
  padding: 5px;
  border: 2px solid rgb(249,152,67);
  border-radius: 20px;
  background: rgb(249, 152, 67);
  width: 90px;
  margin-right: 10px;
}
.g3{
  padding: 5px;
  border: 2px solid rgb(249,152,67);
  border-radius: 20px;
  background: rgb(249, 152, 67);
  width: 90px;
  margin-right: 10px;
}
.g4{
  padding: 5px;
  border: 2px solid rgb(249,152,67);
  border-radius: 20px;
  background: rgb(249, 152, 67);
  width: 90px;
  margin-right: 10px;
}
.g5{
  padding: 5px;
  border: 2px solid rgb(249,152,67);
  border-radius: 20px;
  background: rgb(249, 152, 67);
  width: 90px;
  margin-right: 10px;
}
#graph0{
  display: flex;
}
.chart{
  width:50%;
  height: 600px;
  padding:30px;
}



/*Format Mobile */
@media only screen and (max-width: 767px) {
  .counter{
    display: grid;
    gap: 10px;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "mainOne mainOne mainOne mainOne"
      "info info info info"
      "graphique graphique graphique graphique";
    justify-items: center;
  }
  .header{
    grid-area: header;
    margin-top: 30px;
    padding: 10px;
    width:50%;
    text-align: center;
  }
  .info{
    grid-area: info;
    padding: 10px;
    width: 50%;
  }
  .main{
   grid-area:main ;
   text-align: center; 
   border:2px solid #333; 
   width: 80%;  
   background: linear-gradient(rgba(87, 87, 206, 0.474), rgba(14, 14, 42, 0.381), rgba(8, 8, 36, 0.496)); 
   padding: 20px;
  
  }
  .mainOne{
    grid-area:mainOne ;
    text-align: center; 
    border:2px solid #333; 
    width: 80%;  
    background: linear-gradient(rgba(87, 87, 206, 0.474), rgba(14, 14, 42, 0.381), rgba(8, 8, 36, 0.496)); 
    padding: 20px;
    
     
   }
  .num{
    font-size: 40px;
    margin:10px 0;
  }
  .box{
    flex:1;
    color:#fff;
    text-transform: uppercase;
  }

  .box .bi-people{
    font-size: 90px;
    color:#333;
  }

  .grand{
    font-size: 10px;
    margin-top: 25%;
    color:bisque;
    
  }

  /*POUR LES GRAPHIQUES*/

.graphique{
  grid-area:graphique ;
  text-align: center; 
  border:none; 
  width: 80%;  
  height: 400px;
  background: none;  
  padding: 20px;
 }
 .right{
   display: grid;
   justify-content:left;
   grid-template: 45px 45px 45px/45px 45px 45px;
   row-gap:5px;
   column-gap: 60px;
   cursor: pointer;
   padding: 5px;
 }

 .g1{
   padding: 10px; 
   border: 2px solid rgb(249,152,67);
  border-radius: 3px;
  background: rgb(249, 152, 67);
  width: 65px;
  font-size: 8px;
  height: 10px;
 }
 .g1:hover{
  border:#333 solid 2px;
  background: #0D1117;
 }
 .g1:active{
  border:#333 solid 2px;
  background: #0D1117;
 }

 
 #graph0{
   display: grid;
 }
 #graph1{
  display: grid;
 }
 .chart{
   width:auto;
   height: 200px;
   padding:5px;
   justify-items: center;
 }
 
  
}